header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 20px;
  padding: 25px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  z-index: 5;
}

header a{
  margin-right: 2rem;
  color: white;

  text-decoration: none;
  z-index: 5;
}

#welcome {
  width: 100%;
  height: 100vh;

  position: absolute;

  top: 10vw;
  left: 0vw;

}

#welcome h1{
  text-align: left;
  font-size: 3vw;
  color: black;

  position: absolute;
  top: 5vw;
  left: 7vw;
}

#welcome h2{
  text-align: left;
  font-size: 3vw;
  color: black;

  position: absolute;
  top: 9vw;
  left: 7vw;
}

.projects-grid{
  background-color: thistle;

}






/* mobile media only */
@media only screen and (max=width: 800px)
{
  header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 2vw;
    padding: 25px, 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;

    z-index: 5;
  }
}