body {
    background-color: #5CDB95;
    color: #05386B;
}

nav {
  display: flex;
  background-color: #05386B;
  color: #5CDB95;
  width: 100%;
  justify-content: space-around;
  height: 30px;
  font-size: 20px;
  align-items: center;
}

.nav-link {
  display: flex;
  text-decoration: none;

}

a:link {
  color: #5CDB95;
  text-decoration: none;

}

a:visited {
  color: #5CDB95;
  text-decoration: none;

}

.a:hover {
  color: #5CDB95;
  text-decoration: none;

}

.name {
  display: flex;
  position: relative;
  /* background-image: url(/images/BeFunky-collage.jpg); */
  background-size: cover;
  flex-direction: column;
  align-items: center;

  /* height: auto; */
}

.name::before{
  content: "";
  background-image: url(/images/BeFunky-collage.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.40;

}

h1 {
  height: auto;
}

.profile-pic {
  width: 25vw;
  position: relative;
  padding: 10px;
}

.name-title{
  display: flex;
  background-color: #05386B;
  color: #5CDB95;
  position: relative;
}

.section-title{
  text-align: center;
}

.project{
  background-color: #05386B;
  align-items: center;
  font-size: large;
  margin: 5px;
  border-radius: 5px;
}

.project-articles{
  color: #5CDB95;
}

.project.text{
  width: 88%;
}

.project-text-line{
  width: 93%;
  text-decoration: none;
}

.project-images{
  width: 78%;
  align-items: center;
}

.personal{
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.about-me{
  background-color: #05386B;
  color: #5CDB95;
  align-items: center;
  text-align: center;
  margin: 5px;
  max-width: 480px;
}

.about-me-list{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.links{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.social-media-items{
  display: flex;
  justify-content: space-around;
}

.social-media{
  width: 23%;

}

.project{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 480px;
}

@media only screen and (max-width:1040px){

  .project{
    max-width: 900px;
  }
  .about-me{
    max-width: 900px;
  }
  .about-me-list{
    align-items: center;
    padding-inline-start: 0px;
  }
}